:root {
    --textcolor01: #000;
    --textcolor02: #FFF;
    --textcolor03: #FF0;
    --textcolor04: #F0F;
    --textcolor05: #0FF;
    --textcolor06: #F00;
    --textcolor07: #0F0;
    --textcolor08: #00F;
    --textcolor09: #7BC5AE;
    --textcolor10: #FFC2C3;
    --textcolor11: #FCDFF3;
    --textcolor12: #034B61;
    --textcolor13: #1E646E;
    --textcolor14: #747BA9;
    --textcolor15: #0359AE;
    --textcolor16: #EBE5D9;
    --textcolor17: #CC8A56;
    --textcolor18: #499360;
    --textcolor19: #232941;
    --textcolor20: #3D313F;
    --textcolor21: #FE5858;
    --textcolor22: #AA641E;
    --textcolor23: #DB5A9A;
    --textcolor24: #D9CFE7;
    --textcolor25: #324856;
    --textcolor26: #D66C44;
    --textcolor27: #706FAB;
    --textcolor28: #6A92CC;
    --textcolor29: #FFA289;
    --textcolor30: #50293C;
    --textcolor31: #DBDBE5;
    --textcolor32: #C2E6FF;
    --textcolor33: #007F52;
    --textcolor34: #FFB471;
    --textcolor35: #EB8F90;
    --textcolor36: #6C838B;
    --textcolor37: #EDB730;
    --textcolor38: #B9CD74;
    --textcolor39: #085438;
    --textcolor40: #82BBB5;
    --textcolor41: #CA884B;
    --textcolor42: #CCA142;
    --textcolor43: #E5BA22;
    --textcolor44: #757430;
    --textcolor45: #D0B987;
    --textcolor46: #EDA2B6;
    --textcolor47: #5954A4;
    --textcolor48: #8AD5EB;
    --textcolor49: #04254E;
    --textcolor50: #D92139;
    --textcolor51: #AEC33A;
    --textcolor52: #33C7F7;
    --textcolor53: #25255F;
    --textcolor54: #2C0136;
    --textcolor55: #C7C5B8;
    --textcolor56: #FFD0D6;
    --textcolor57: #FEE19F;
    --textcolor58: #735B69;
    --textcolor59: #92617E;
    --textcolor60: #1E9AD0;
}
.bg{
    background-position: center center;
    background-size: cover;
}