*{
    margin: 0;
    padding: 0;
    
}
.body_top{
    // background: linear-gradient(rgba(150,100,100,0.6),rgba(255,255,255,0.5));
    header{
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #fff;
        box-shadow: 3px 3px 5px 1px #757474;
    }
    main{
        background: linear-gradient(rgba(150,100,100,0.6),rgba(255,255,255,0.5));
        z-index: -1;
        .con_1{
            padding: 0;
            .carousel-inner img{
                height: 400px;
            }
        }
        .con_2{
            padding: 0;
            // background-color: #fff;
            .section_1{
                .row{
                // padding: 0;
                    .arow_1{
                        margin-top: 48px;
                        margin-bottom: 48px;
                        .bt_top{
                        z-index: -1; 
                        font-size: 1.25rem;
                        }
                        .bt1,.bt3{
                            background-color: var(--textcolor11);
                            display: block;
                            a{
                                display: block;
                                text-decoration: none;
                                color: var(--textcolor40);
                                font-size: larger;
                                font-weight: bold;
                            
                            }
                        }
                        .bt2,.bt4{
                            background-color: var(--textcolor31);
                            display: block;
                            a{
                                display: block;
                                text-decoration: none;
                                color: var(--textcolor40);
                                font-size: larger;
                                font-weight: bold;
                                
                            }
                        }
                        .bt5{
                            background-color: var(--textcolor59);
                            display: block;
                            a{
                                display: block;
                                text-decoration: none;
                                color: var(--textcolor50);
                                font-size: larger;
                                font-weight: bold;
                                
                            }
                        }
                        .bt1:hover,.bt2:hover,.bt3:hover,.bt4:hover{
                            background-color: var(--textcolor48);
                            a:hover{
                                color: var(--textcolor23);
                            }
                        }
                        .bt5:hover{
                            background-color: var(--textcolor48);
                            a:hover{
                                color: var(--textcolor02);
                            }
                        }
                    }
                    .iframe_1{
                        margin-top: 48px;
                        margin-bottom: 4px;
                        .iframe{
                            width: 51.2vw;
                            height: 40vw;
                            
                        }
                    }
                    
                }
            }
            .section_2{
                background:linear-gradient(rgba(128,255,128,0.5),rgba(64,128,64,0.2));
                img{
                    width: 20vw;
                    height: 20vw;
                }
                .sce_2{
                    margin: 1rem 0;
                    font-size: 2rem;
                    font-weight: bolder;
                    color: var(--textcolor19);
                }
                h5{
                    color: var(--textcolor21);
                    font-size: 1.5rem;
                }
                p{
                    font-family: "標楷體";
                    font-size: 1.15rem;
                }
            }
        }
    }
    footer{
        height:20vh;
        background:var(--textcolor24);
        ul{
            margin-right: 15px;
            margin-bottom: 30px;
            li{
                margin: 1vw;
                a{
                    text-decoration: none;
                    color: var(--textcolor12);
                    font-family: "標楷體";
                    font-size: large;
                }
                :hover{
                    color: var(--textcolor23);
                }
            }
        }
        div{
            p{
                color: var(--textcolor21);
                font-size: x-large;
                font-family: "標楷體";
            }
        }
    }
}
@media screen and (max-width:768px){
    .body_top{
        main{
            .con_2{
                .section_1{
                    .row{
                        .arow_1{
                            margin-top: 5px;
                            margin-bottom: 5px;
                        }
                        .iframe_1{
                            margin: 0;
                            height: 100vw;
                            .iframe{
                                width: 100vw;
                                height: 100vw;
                            }
                        }
                        
                    }
                }
                .section_2{
                    img{
                        width: 100vw;
                        height: 30vw;
                    }
                    .sce_2{
                        margin: 1rem 0;
                        font-size: 1rem;
                        font-weight: bolder;
                        color: var(--textcolor19);
                    }
                    h5{
                        color: var(--textcolor21);
                        font-size: 1.25rem;
                    }
                    p{
                        font-family: "標楷體";
                        font-size: 1rem;
                    }
                }
            }
        }
        footer{
            height:20vh;
            background:var(--textcolor24);
            ul{
                margin-right: 25px;
                margin-bottom: 20px;
                li{
                    margin: 1vw;
                    a{
                        font-size: medium;
                    }
                }
            }
            div{
                p{
                    font-size: large;
                }
            }
        }
    }
}

.body_top_m{
    header{
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #fff;
        box-shadow: 3px 3px 5px 1px #757474;
    }
    main{
        background: linear-gradient(rgba(150,100,100,0.6),rgba(255,255,255,0.5));
        .music_ul{
            .music_li{
                
                a{
                    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
                    border: 0px solid var(--textcolor52);
                    border-radius: 3px;
                    text-decoration: none;
                    color: var(--textcolor14);
                    font-family: "標楷體";
                    font-size: 1.25rem;
                    transform: 2s border-width linear 1s;
                    transform: 2s border-color linear 1s;
                }
                a:hover{
                    color: var(--textcolor02);
                    border-width: 0px 0px 3px 0px;
                    border-radius: 3px;
                }
                
            }
        }
        .music_coll_1{
            .music_1{
            background-color: var(--textcolor56);
                .music_1body{
                    margin: 5px 5px 5px 0px;
                    td{
                        padding: 0;  
                    }
                    a{
                        
                        padding: 0.5rem;
                        text-decoration: none;
                        font-family: "標楷體";
                        color: var(--textcolor27);
                        text-align: center;
                        cursor: pointer;
                        display: block;
                        box-sizing: border-box;
                    }
                    a:hover{
                        color: var(--textcolor02);
                        background-color: var(--textcolor40);
                        border-radius: 5px;
                    }
                }
            }
        }
        .music_coll_2{
            .music_2{
                background-color: var(--textcolor57); 
               .music_2body{
                    margin: 5px 5px 5px 0px;
                    td{
                        padding: 0;
                    }
                    a{
                        padding: 0.5rem;
                        text-decoration: none;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        color: var(--textcolor58);
                        text-align: center;
                        cursor: pointer;
                        display: block;
                    }
                    a:hover{
                        color: var(--textcolor04);
                        background-color: var(--textcolor32);
                        border-radius: 5px;
                    }
                }
            }
        }
        .music_coll_3{
            .music_3{
                background-color: var(--textcolor11); 
               .music_3body{
                    margin: 5px 5px 5px 0px;
                    td{
                        padding: 0;
                    }
                    a{
                        padding: 0.5rem;
                        text-decoration: none;
                        font-family: "標楷體";
                        color: var(--textcolor30);
                        text-align: center;
                        cursor: pointer;
                        display: block;
                    }
                    a:hover{
                        color: var(--textcolor05);
                        background-color: var(--textcolor28);
                        border-radius: 5px;
                    }
                }
            }
        }
        .music_coll_4{
            .music_4{
                background-color: var(--textcolor16); 
               .music_4body{
                    margin: 5px 5px 5px 0px;
                    td{
                        padding: 0;
                    }
                    a{
                        padding: 0.5rem;
                        text-decoration: none;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        color: var(--textcolor39);
                        text-align: center;
                        cursor: pointer;
                        display: block;
                    }
                    a:hover{
                        color: var(--textcolor50);
                        background-color: var(--textcolor60);
                        border-radius: 5px;
                    }
                }
            }
        }
        .music-container{
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 20px 20px 0 rgba(252,169,169,0.6);
            display: flex;
            justify-content: center;
            padding: 20px 30px;
            position: relative;
            width: 100%;
            margin-top: 100px;
            margin-bottom:  15px ;
            z-index: 10;
            .music-info {
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 15px  15px 0 0;
                position: absolute;
                top:0;
                left: 30px;
                opacity: 0;
                /* width: calc(100% - 40px); */
                width: 95%;
                padding: 10px 10px 10px 100px;
                transform: translateY(0%); 
                transition: transform 0.3s ease-in,opacity 0.3s ease-in;
                z-index: -1;
                .music-info h4 {
                    display: flex;
                    margin: 0;
                }
                .progress-container {
                    background:#fff;
                    border-radius: 5px;
                    cursor: pointer;
                    margin: 10px 0;
                    height: 4px;
                    width: 95%;
                    .progress {
                        background-color: #fe8dab;
                        border-radius: 5px;
                        height: 100%;
                        width: 60%;
                        transition: width 0.1s linear;
                    }
                }
            }
            .img-container{
                display: flex;
                align-items: center;
                position: relative;
                a{
                    position: absolute;
                    color: var(--textcolor11);
                    text-decoration: none;
                    border-radius: 5px;
                    padding: 1px;
                    transform: translateX(-30px);
                }
            }
            .navigation {
                display: flex;
                justify-content: center;
                align-items: center;
                .action-btn {
                    background-color: #fff;
                    border: 0;
                    color: #dfbddf;
                    font-size: 25px;
                    padding: 10px;
                    margin: 0 20px;
                    cursor: pointer;
                }
                .big {
                    color: #cdc2d0;
                    font-size: 30px;
                }
              }
        }
    }
    .music-container.play .music-info {
        opacity: 1;
        transform: translateY(-100%);
    }
    footer{
        height:20vh;
        background:var(--textcolor24);
        ul{
            margin-right: 15px;
            margin-bottom: 30px;
            li{
                margin: 1vw;
                a{
                    text-decoration: none;
                    color: var(--textcolor12);
                    font-family: "標楷體";
                    font-size: large;
                }
                :hover{
                    color: var(--textcolor23);
                }
            }
        }
        div{
            p{
                color: var(--textcolor21);
                font-size: x-large;
                font-family: "標楷體";
            }
        }
    }
}

//full
.body_full{
    background: linear-gradient(rgba(234,84,85,0.2),rgba(98,58,162,0.7));
    .full{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        // overflow: scroll;
        .card{
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
            width: 18rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .cardimg{
                margin-top: 1rem;
                width: 15rem;
                height: 15rem;
                overflow: hidden;
                border-radius: 50%;
               img{
                width: 15rem;
                height: 15rem;
                background-position: center;
                background-size: cover;
                // border-radius: 50%;
                margin: 0 auto;
                transition: all 0.2s;
                }
                img:hover{
                    transform: scale(1.2);
                } 
            }
            
        }
    }
}
@media screen and (max-width:768px){
    .body_full{
        .full{
            .card{
                width: 400px;
            }
        }
    }
}

.body_ch{
    background: linear-gradient(rgba(234,84,85,0.2),rgba(98,58,162,0.7));
    .chinese{
        margin-top: 1rem;
        margin-bottom: 1.5rem;

        .card{
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .cardimg{
                margin-top: 1rem;
                width: 15rem;
                height: 15rem;
                overflow: hidden;
                border-radius: 50%;
               img{
                width: 15rem;
                height: 15rem;
                background-position: center;
                background-size: cover;
                // border-radius: 50%;
                margin: 0 auto;
                transition: all 0.2s;
                }
                img:hover{
                    transform: scale(1.2);
                } 
            }
            
        }
    }
}


.body_en{
    background: linear-gradient(rgba(234,84,85,0.2),rgba(98,58,162,0.7));
    .english{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        .card{
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .cardimg{
                margin-top: 1rem;
                width: 15rem;
                height: 15rem;
                overflow: hidden;
                border-radius: 50%;
               img{
                width: 15rem;
                height: 15rem;
                background-position: center;
                background-size: cover;
                // border-radius: 50%;
                margin: 0 auto;
                transition: all 0.2s;
                }
                img:hover{
                    transform: scale(1.2);
                } 
            }
            
        }
    }
}


.body_ni{
    background: linear-gradient(rgba(234,84,85,0.2),rgba(98,58,162,0.7));
    .nihon{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        .card{
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .cardimg{
                margin-top: 1rem;
                width: 15rem;
                height: 15rem;
                overflow: hidden;
                border-radius: 50%;
               img{
                width: 15rem;
                height: 15rem;
                background-position: center;
                background-size: cover;
                // border-radius: 50%;
                margin: 0 auto;
                transition: all 0.2s;
                }
                img:hover{
                    transform: scale(1.2);
                } 
            }
            
        }
    }
}


.body_ko{
    background: linear-gradient(rgba(234,84,85,0.2),rgba(98,58,162,0.7));
    .korean{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        .card{
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .cardimg{
                margin-top: 1rem;
                width: 15rem;
                height: 15rem;
                overflow: hidden;
                border-radius: 50%;
               img{
                width: 15rem;
                height: 15rem;
                background-position: center;
                background-size: cover;
                // border-radius: 50%;
                margin: 0 auto;
                transition: all 0.2s;
                }
                img:hover{
                    transform: scale(1.2);
                } 
            }
            
        }
    }
}